<h1><%= title %></h1>

<nav id="movies">
	<ul>
	<% for ( var i = 0; i < files.length; i++ ) { %>
		<li>
			<a href="<%= files[ i ] %>/"><%= files[ i ] %>
				<% if ( typeof movies[ files[ i ]].oflc === 'object' && movies[ files[ i ]].oflc.classification.length > 0 ) { %>
					<img class="oflc" src="/img/oflc/<%= movies[ files[ i ]].oflc.classification %>.png" alt="<%= movies[ files[ i ]].oflc.classification %>" />
				<% } %>
			</a>
		</li>
	<% } %>
	</ul>
</nav>


<figure>
	<img id="poster" />
</figure>


<script src="/ui/movieList.js"></script>
<script src="/ui/loadPoster.js"></script>
