<h1><%= title %></h1>

<nav id="movies">
	<ul>
	<% for ( var i = 0; i < files.length; i++ ) { %>
		<li>
			<a href="<%= files[ i ] %>/"><%= files[ i ] %>
				<% if ( typeof movies[ files[ i ]].oflc === 'object' ) { %>
					<small><%= movies[ files[ i ]].oflc.classification %></small>
				<% } %>
			</a>
			<small>(<a href="<%= files[ i ] %>/data">info</a>)</small>
		</li>
	<% } %>
	</ul>
</nav>


<figure>
	<img id="poster" />
</figure>


<script src="/ui/movieList.js"></script>
<script src="/ui/loadPoster.js"></script>
